.dashboard {
  position: relative;
  width : 100%;
  max-width : 100%; 
  margin : 0; 
  padding : 0;   
}

.dashboard-bg {
  height : 450px; 
  width : 100%
}

.dashboard-bg img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.dashboard-overlay {
  position: absolute;
  inset: 0;
}

.dashboard-inner {
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
  padding: 4.5rem 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-text-block {
  margin-left: auto;
  max-width: 480px;
  text-align: left;
}

.dashboard-mini {
  font-size: 0.85rem;
  color: #4b5563;
  margin-bottom: 0.75rem;
}

.dashboard-title {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.dashboard-highlight {
  color: #ff6b3d;
}

.dashboard-search-wrapper {
  max-width: 900px;
  margin: 0 auto;
  position : relative; 
  top : 70px; 
  z-index: 10; 
}

.dashboard + .brand-strip,
.dashboard + .section-wrapper {
  margin-top: 3rem;
}


.search-card {
  background-color: #ffffff;
  border-radius: 32px;
  box-shadow: 0 24px 60px rgba(15, 23, 42, 0.25);
  padding: 25px 20px 22px;
  margin-bottom: 100px; 
}

.search-fields {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) auto;
  gap: 0.85rem;
  align-items: stretch;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.field-label {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.09em;
  color: rgba(15, 23, 42);
  font-weight: bold;
}

.field-input {
  display : flex; 
  align-items: center; 
  justify-content: space-between; 
  border: 1px solid; 
  border-radius: 18px; 
  padding: 9px 10px; 
  background-color: white; 
}

.field-input-control{
    flek:1; 
    border:none;
    outline:none; 
    font-size:10px;
    color: #111827;
    background:transparent;
}

.field-input-control::placeholder{
    color:#9ca3af;
}

.field-right {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.field-chevron {
  font-size: 0.75rem;
  color: #9ca3af;
}

.search-button {
  border-radius: 18px;
  border: none;
  padding: 0.8rem 1.6rem;
  background: linear-gradient(135deg, #ff7a3d, #ff4e44);
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.5s;
}

.search-button:hover{
    opacity: 2;
    box-shadow: 0 10px 15px rgba(248, 113, 113, 0.7);
    cursor: pointer;
}

@media (max-width: 1024px) {
  .dashboard-bg {
    height: 380px;
  }

  .dashboard-inner {
    padding-top: 4rem;
  }

  .dashboard-title {
    font-size: 2.4rem;
  }

  .dashboard-search-wrapper {
    transform: translateY(40%);
  }

  .search-fields {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .dashboard-bg {
    height: 360px;
  }

  .dashboard-inner {
    padding-inline: 1rem;
  }

  .dashboard-text-block {
    max-width: 100%;
  }

  .dashboard-search-wrapper {
    transform: translateY(20%);
  }

  .search-fields {
    grid-template-columns: minmax(0, 1fr);
  }
}