.navbar {
  position: sticky;
  top: 0;
  z-index: 20;
  backdrop-filter: blur(18px); 
  background-color : white; 
  border-bottom: 1px solid rgba(229, 231, 235, 0.9);
}

.navbar-inner {
  max-width: auto;
  margin: 0 auto;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px; 
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo-img {
  height: 50px;         
  width: auto;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-login {
  border-radius: 999px;
  border: none;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.5s;
  background: linear-gradient(135deg, #ff7a3d, #ff4e44);
}

.btn-login:hover{
  background: linear-gradient(135deg, #ffffff, #ffffff);
  color : #ff7a3d;
  border: 1px solid;
  cursor: pointer;
  opacity: 1;
}
