@import "tailwindcss"; 

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root{
  height : 100%; 
}

body {
  margin: 0; 
  @apply bg-orange-50;
}

/* ==== Bus Loader Animation ==== */
.bus-loader-bus {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 70px;
  height: 30px;
  border-radius: 9999px;
  background: linear-gradient(135deg, #ff7a45, #ff5a1f);
  box-shadow: 0 6px 14px rgba(15, 23, 42, 0.25);
  animation: bus-move 1.6s linear infinite;
  transform-origin: center bottom; 
}

/* supaya kelihatan kayak goyang dikit */
.bus-loader-bus {
  transform-origin: center bottom;
}

@keyframes bus-move {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(30%) translateY(0px);
  }
  50% {
    transform: translateX(60%) translateY(0);
  }
  75% {
    transform: translateX(70%) translateY(0px);
  }
  100% {
    transform: translateX(100%) translateY(0);
  }
}
